
@{
    ViewBag.Title = "Carga Remuneraciones";
}


<div class="container">
    <div class="row seccion-destado">
        @if (ViewBag.aviso)
        {
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    Esta informacion ya se encuentra cargada, si la vuelve a cargar se reemplaza la anterior.
                </div>
            </div>
        }

        <div class="col-md-12">
            <h1>
                Carga de Ingresos año
                <span class="muntotal">
                    @ViewBag.ano
                </span>
            </h1>
        </div>
        <div class="col-md-12">
            <form action="@Url.Action("CargaRemuneraciones","AdminComuna")" id="formulario" method="post" enctype="multipart/form-data">
                <label>
                    <span></span>
                    Adm. y Serv. Municipales
                    <input type="file" accept=".xls,.xlsx" id="fileAdm" name="fileAdm" />
                    <input type="hidden" id="fileStatusAdm" />
                    <span id="successAdm" class="md-36 icon-Recurso15" style="display:none"></span>
                    <span id="errorAdm" class="md-36 icon-Recurso14" style="display:none"></span>
                </label><br />

                <label>
                    Salud
                    <input type="file" accept=".xls,.xlsx" id="fileSalud" name="fileSalud" />
                    <input type="hidden" id="fileStatusSalud" />
                    <span id="successSalud" class="md-36 icon-Recurso15" style="display:none"></span>
                    <span id="errorSalud" class="md-36 icon-Recurso14" style="display:none"></span>
                </label><br />
                <label>
                    Educacion
                    <input type="file" accept=".xls,.xlsx" id="fileEducacion" name="fileEducacion" />
                    <input type="hidden" id="fileStatusEducacion" />
                    <span id="successEducacion" class="md-36 icon-Recurso15" style="display:none"></span>
                    <span id="errorEducacion" class="md-36 icon-Recurso14" style="display:none"></span>
                </label><br />
                @if (ViewBag.cementerio)
                {
                    <label>
                        Cementerio
                        <input type="file" accept=".xls,.xlsx" id="fileCementerio" name="fileCementerio" />
                        <input type="hidden" id="fileStatusCementerio" />
                        <span id="successCementerio" class="md-36 icon-Recurso15" style="display:none"></span>
                        <span id="errorCementerio" class="md-36 icon-Recurso14" style="display:none"></span>
                    </label>
                }<br /><br />
                <input type="submit" class="btn" id="boton" value="Confirmar subida de Informacion">
            </form>
        </div>
    </div>
    <div class="row padding-Div"></div>
    <div class="row padding-Div"></div>
    <div class="row padding-Div"></div>
</div>


@section scripts{
    <script>
    $(document).ready(function () {

        $("#fileAdm").on("change", function () {
            upload('@Url.Action("ValidadorCargaRemuneracionesAdm", "AdminComuna")', 'fileAdm', 'fileStatusAdm')
        });

        $("#fileSalud").on("change",function () {
            upload('@Url.Action("ValidadorCargaRemuneracionesSalud", "AdminComuna")', 'fileSalud', 'fileStatusSalud')
        });
        $("#fileEducacion").on("change",function () {
            upload('@Url.Action("ValidadorCargaRemuneracionesEducacion", "AdminComuna")', 'fileEducacion', 'fileStatusEducacion')
        });
        $("#fileCementerio").on("change",function () {
            upload('@Url.Action("ValidadorCargaRemuneracionesCementerio", "AdminComuna")', 'fileCementerio', 'fileStatusCementerio')
        });

        //SI TODOS LOS HIDDEN

        $("#boton").on("click",function () {
            //si todos los type hidden en true, realiza el submit():
            if (1 == 1) {
                document.getElementById('formulario').submit();
            }
        });

        function upload(urlPath, name, result) {
            var isValid = undefined;
            var formData = new FormData();
            var file = document.getElementById(name).files[0];
            formData.append(name, file);
            $.ajax({
                type: 'post',
                url: urlPath,
                data: formData,
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#" + result).val(response);
                    checkSingleStatus(name,response);
                    checkAllStatus();
                }
            });
        }

        function checkAllStatus() {
            var isValidAdm = $('#fileStatusAdm').val();
            var isValidSalud = $('#fileStatusSalud').val();
            var isValidEducacion = $('#fileStatusEducacion').val();
            var isValidCementerio = $('#fileStatusCementerio').val();

            var existCementerio = $('#existCementerio').val();
            if (existCementerio == "true") {
                if (isValidAdm == "true" && isValidSalud == "true" && isValidEducacion == "true" && isValidCementerio == "true") {
                    $('#boton').prop("disabled", false);
                } else {
                    $('#boton').prop("disabled", true);
                }
            }
            else{
                if (isValidAdm == "true" && isValidSalud == "true" && isValidEducacion == "true") {
                    $('#boton').prop("disabled", false);
                } else {
                    $('#boton').prop("disabled", true);
                }
            }
        }

        function checkSingleStatus(item, result) {
            if (item == "fileAdm") {
                if (result == true) {
                    $('#successAdm').css("display", "block");
                    $('#errorAdm').css("display", "none");
                }
                else {
                    $('#successAdm').css("display", "none");
                    $('#errorAdm').css("display", "block");
                }
            }
            if (item == "fileSalud") {
                if (result == true) {
                    $('#successSalud').css("display", "block");
                    $('#errorSalud').css("display", "none");
                }
                else {
                    $('#successSalud').css("display", "none");
                    $('#errorSalud').css("display", "block");
                }
            }
            if (item == "fileEducacion") {
                if (result == true) {
                    $('#successEducacion').css("display", "block");
                    $('#errorEducacion').css("display", "none");
                }
                else {
                    $('#successAdm').css("display", "none");
                    $('#errorAdm').css("display", "block");
                }
            }
            if (item == "fileCementerio") {
                if (result == true) {
                    $('#successCementerio').css("display", "block");
                    $('#errorCementerio').css("display", "none");
                }
                else {
                    $('#successCementerio').css("display", "none");
                    $('#errorCementerio').css("display", "block");
                }
            }
        }
    });
    </script>
}