<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
    <title>@ViewBag.Title - @ViewBag.logo</title>
    @*@Styles.Render("~/Content/css")*@
    <link href="~/Content/css/bootstrap-grid.css"   rel="stylesheet" />
    <link href="~/Content/css/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/css/font.css"             rel="stylesheet" />
    <link href="~/Content/css/styleBootrap.css"     rel="stylesheet" />
    <link href="~/Content/css/style.css"            rel="stylesheet" />
    <link href="~/Content/css/styleSueldos.css"     rel="stylesheet" />
    <link href="~/Content/css/tinyscrollbar.css"    rel="stylesheet" />
    <link href="~/Content/css/styleTreemap.css"     rel="stylesheet" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col barra-superior">
                <div class="row" id="barra-primera">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-5 align-self-center">
                                    <div class="row">
                                        <div class="padding-cero col-10 col-sm-10 col-md-12 align-self-center">
                                            <div class="row">
                                                <span class="col-7 align-self-center">
                                                    @{ 
                                                        string logo = @ViewBag.logo + ".png";
                                                    }
                                                    <a href="@Url.Action("Index","Home")">
                                                        <img class="logo-top" src="~/Content/image/municipios/@logo" alt="Cuentas Claras Municipales" />
                                                    </a>
                                                </span>
                                            </div>
                                            @*<div class="row">
                                                <span class="col-12 align-self-center">
                                                    <a href="@Url.Action("Login","Account")">Iniciar sesion</a>
                                                </span>                                                
                                            </div>*@
                                        </div>
                                        <div class="col-2 col-sm-2 col-md-0 align-self-center ">
                                            <a id="menu-mobile">
                                                <span class="md-24 icon-menu"></span>
                                            </a>
                                        </div>
                                        <div class="col-12 hidden" id="menu-mobile-contenido">
                                            <hr>
                                            <nav>
                                                <ul style="padding: 0;">
                                                    <li class="nav-item"><a href="@Url.Action("Index","Home")" class="@ViewBag.Inicio"> Inicio </a></li>
                                                    <li class="nav-item"><a href="@Url.Action("Index", "Ingresos")" class="@ViewBag.Ingreso">Ingresos </a></li>
                                                    <li class="nav-item"><a href="@Url.Action("Index","Gastos")" class="@ViewBag.Gasto">Gastos </a></li>
                                                    <li  class="nav-item">
                                                        Datos destacado
                                                        <ul>
                                                            <li class="nav-item"><a class="@ViewBag.Proveedores" href="@Url.Action("Proveedores","DatosDestacados")">Proveedores </a></li>
                                                            <li class="nav-item"><a class="@ViewBag.Subsidios" href="@Url.Action("Subsidios","DatosDestacados")">Subsidios </a></li>
                                                            <li class="nav-item"><a class="@ViewBag.Corporaciones" href="@Url.Action("Corporaciones","DatosDestacados")">Corporaciones </a></li>
                                                            <li class="nav-item"><a class="@ViewBag.Sueldos" href="@Url.Action("Sueldos","DatosDestacados")">Remuneraciones </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-0 col-sm-0 col-md-7 padding-cero align-self-end" id="menu-Principal">
                                    <nav class="">
                                        <ul class="nav nav-resp align-items-center">
                                            <li class="nav-item borde-menu">
                                                <a class="nav-link @ViewBag.Inicio" href="@Url.Action("Index","Home")">Inicio</a>
                                            </li>
                                            <li class="nav-item borde-menu">
                                                <a class="nav-link @ViewBag.Ingreso" href="@Url.Action("Index","Ingresos")">Ingresos</a>
                                            </li>
                                            <li class="nav-item borde-menu">
                                                <a class="nav-link @ViewBag.Gasto" href="@Url.Action("Index","Gastos")">Gastos</a>
                                            </li>
                                            <li class="nav-item destacado">
                                                <a class="nav-link" href="#">
                                                    Datos<br> destacados <span class="md-12 icon-Recurso-20 menuflecha"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row @ViewBag.Destacado destacado destacadocolor" id="destacado-barra">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-3 col-0 padding-cero">
                                    <ul class="nav justify-content-start align-items-center">
                                        <li class="nav-item menu-auxiliar">
                                            <a href="@Url.Action("Index","Home")">
                                                <img class="nav-link nav-link-sub img-fluid" src="~/Content/image/municipios/@logo" alt="Cuentas Claras Municipales" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-9 col-12 padding-cero">
                                    <ul class="nav justify-content-end align-items-center">

                                        <li class="nav-item menu-auxiliar">
                                            <a class="nav-link nav-link-sub"><b class="amarillo">DATOS DESTACADOS</b></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Proveedores" href="@Url.Action("Proveedores","DatosDestacados")">Proveedores</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Subsidios" href="@Url.Action("Subsidios","DatosDestacados")">Subsidios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Corporaciones" href="@Url.Action("Corporaciones","DatosDestacados")">Corporaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Sueldos" href="@Url.Action("Sueldos","DatosDestacados")">Remuneraciones</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="row">
            <div class="col padding-Div azulB">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 align-self-center">
                            <ul>
                                <li class="blanco"><a href="@Url.Action(" Index","Home")" class="@ViewBag.Inicio">Inicio</a></li>
                                <li class="blanco"><a href="@Url.Action("index","Ingresos")" class="@ViewBag.Ingresos">Ingresos</a></li>
                                <li class="blanco"><a href="@Url.Action("index","Gastos")" class="@ViewBag.Gastos">Gastos</a></li>
                                <li class="blanco"><a href="@Url.Action("Dueldos","DatosDestacados")" class="@ViewBag.Sueldo">Remuneraciones</a></li>
                                <li class="blanco"><a href="@Url.Action("Proveedores","DatosDestacados")" class="@ViewBag.Proveedores">Proveedores</a></li>
                                <li class="blanco"><a href="@Url.Action(" Corporaciones","DatosDestacados")" class="@ViewBag.Corporaciones">Corporaciones</a></li>
                                <li class="blanco"><a href="@Url.Action("subsidios","DatosDestacados")" class="@ViewBag.Subsidios">Subsidios</a></li>
                                <li class="blanco"><a href="@Url.Action("About","Home")" class="@ViewBag.About">El Proyecto</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8 align-self-center">
                            <div class="row">
                                <div class="col-12">
                                    <p>Una iniciativa conjunta de:</p>
                                </div>
                                <div class="col-md-9">
                                    <img src="~/Content/image/iniciativa.png" class="img-fluid" usemap="#iniciativa" />
                                    <map name="iniciativa">
                                        <area shape="rect" coords="1,1,240,56" alt=" Observatorio del Gasto Fiscal en Chile" href="rectangulo.html" />
                                        <area shape="rect" coords="260,1,390,56" alt="Consejo para la Transparencia" href="rectangulo.html" />
                                    </map>
                                </div>
                                @*<div class="col-md-3">
                                        <img src="~/Content/image/icono.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/Content/image/icono.png" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-3">
                                        <img src="~/Content/image/icono.png" class="img-fluid" alt="">
                                    </div>*@
                                <div class="col-md-3">
                                    <a href="">
                                        <img class="text-center img-fluid" src="~/Content/image/@(ViewBag.logo + ".png")" alt="Municipalidad">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 align-self-center">
                            <a href="#">
                                <span class="md-36 blanco icon-twitter"></span>
                            </a>
                            <a href="#">
                                <span class="md-36 blanco icon-facebook"></span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="text-center"><small> Desarrollado por Observatorio del Gasto Fiscal en chile</small> </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 25) {
                    $(".logo-top").css("padding", "0")
                    //$(".barra-superior").css("background-color", "rgba(255, 255, 255, 0.95)")
                    $(".menu-auxiliar").css("opacity", "1")

                    var URLactual = window.location.pathname;
                    if (URLactual.includes("DatosDestacados")) {
                        $("#barra-primera").css("height", "0")
                        $("#barra-primera").css("opacity", "0")
                    }
                    

                    
                }
                if ($(this).scrollTop() < 25) {
                    $(".logo-top").css("padding", "15px 0")
                    //$(".barra-superior").css("background-color", "rgba(255, 255, 255, 1)")
                    
                    $(".menu-auxiliar").css("opacity", "0")
                    var URLactual = window.location.pathname;
                    if (URLactual.includes("DatosDestacados")) {
                        $("#barra-primera").css("height", "auto")
                        $("#barra-primera").css("opacity", "1")
                    }
                }
            });


            $("#menu-mobile").click(
                function () {
                    if ($("#menu-mobile-contenido").hasClass("hidden")) {
                        $("#menu-mobile-contenido").removeClass("hidden");
                    }
                    else {
                        $("#menu-mobile-contenido").addClass("hidden");
                    }
                }
            );
        });

    </script>
</body>
</html>
