<!DOCTYPE html>
<html lang="es-cl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col barra-superior">
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-5 align-self-center">
                                    <div class="row">
                                        <div class=" padding-cero col-10 col-sm-12 align-self-center">
                                            <div class="row">
                                                <span class="im col-4 align-self-center">
                                                    <img class="img-fluid" src="~/Content/image/logo.png" alt="LOGO MUNICIPALIDAD XXXXXX" />
                                                </span>
                                                <span class="gr col-8 align-self-center">
                                                    Gasto Transparente Municipal<br />
                                                    <small>Rendición de cuentas para nuestro vecinos</small>
                                                </span>
                                            </div>

                                            @*<h3 class="text-center">
                                                <a href="#">
                                                    <img src="~/Content/image/logo.png" class="img-fluid">
                                                    <span>Gasto Transparente Municipal</span>
                                                    <span>Rendición de cuentas para nuestro vecinos</span>
                                                </a>
                                            </h3>*@
                                        </div>
                                        <div class="im col-2 col-sm-0 align-self-center menu-mobile">
                                            <p class="text-center">
                                                <a id="menu-mobile">
                                                    Menu
                                                    <i class="text-center md-24 amarillo demo-icon icon-down-open">&#xe80c;</i>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="col-12 menu-mobile hidden" id="menu-mobile-contenido">
                                            <hr>
                                            <nav>
                                                <ul>
                                                    <li class="nav-item"><a href="../" class="@ViewBag.Inicio"> Inicio </a></li>
                                                    <li class="nav-item"><a href="../Ingresos" class="@ViewBag.Ingreso">Ingresos </a></li>
                                                    <li class="nav-item"><a href="../Gastos" class="@ViewBag.Gasto">Gastos </a></li>
                                                    <li>
                                                        Datos destacado
                                                        <ul>
                                                            <li><a href="@Url.Action("Providers","FeaturedData")">Proveedores </a></li>
                                                            <li><a href="@Url.Action("Subsidy","FeaturedData")">Subsidios </a></li>
                                                            <li><a href="@Url.Action("Corporation","FeaturedData")">Corporaciones </a></li>
                                                            <li><a href="@Url.Action("PersonalSalary","FeaturedData")">Sueldos por tipo de funcionario </a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-0 col-sm-12 col-md-7 padding-cero align-self-center">
                                    <nav class="">
                                        <ul class="nav nav-resp align-items-center">
                                            <li class="nav-item borde-menu">
                                                <a class="nav-link @ViewBag.Inicio" href="../">Inicio</a>
                                            </li>
                                            <li class="nav-item borde-menu">
                                                <a class="nav-link @ViewBag.Ingreso" href="/Ingresos">Ingresos</a>
                                            </li>
                                            <li class="nav-item borde-menu">
                                                <a class="nav-link @ViewBag.Gasto" href="/Gastos">Gastos</a>
                                            </li>
                                            <li class="nav-item destacado">
                                                <a class="nav-link" href="#">
                                                    Datos<br> destacados <i class="text-center md-24 amarillo demo-icon icon-down-open">&#xe80c;</i>
                                                </a>

                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row @ViewBag.Destacado destacado destacadocolor" id="destacado-barra">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 padding-cero">
                                    <ul class="nav justify-content-end align-items-center">
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Proveedores" href="#">Proveedores</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Subsidios" href="#">Subsidios</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Corporaciones" href="#">Corporaciones</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link nav-link-sub @ViewBag.Sueldo" href="#">Sueldos por <br>tipo de funcionario</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

        <footer class="row">
            <div class="col padding-Div azulB">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 align-self-center">
                            <ul>
                                <li class="blanco"><a href="#" class="@ViewBag.Inicio">Inicio</a></li>
                                <li class="blanco"><a href="#" class="@ViewBag.Ingresos">Ingresos</a></li>
                                <li class="blanco"><a href="#" class="@ViewBag.Gastos">Gastos</a></li>
                                <li class="blanco"><a href="#" class="@ViewBag.Sueldo">Sueldos por tipo de funcionario</a></li>
                                <li class="blanco"><a href="#" class="@ViewBag.Proveedores">Proveedores</a></li>
                                <li class="blanco"><a href="#" class="@ViewBag.Corporaciones">Corporaciones</a></li>
                            </ul>
                        </div>
                        <div class="col-md-8 align-self-center">
                            <div class="row">
                                <div class="col-12">
                                    <p>Una iniciativa conjunta de:</p>
                                </div>
                                <div class="col-md-9">
                                    <img src="~/Content/image/iniciativa.png" class="img-fluid" usemap="#iniciativa" />
                                    <map name="iniciativa">
                                        <area shape="rect" coords="1,1,240,56" alt=" Observatorio del Gasto Fiscal en Chile" href="rectangulo.html" />
                                        <area shape="rect" coords="260,1,390,56" alt="Consejo para la Transparencia" href="rectangulo.html" />
                                        <area shape="rect" coords="410,1,550,56" alt="Laboratorio de Gobierno" href="rectangulo.html" />
                                    </map>
                                </div>
                                @*<div class="col-md-3">
                                    <img src="~/Content/image/icono.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img src="~/Content/image/icono.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-md-3">
                                    <img src="~/Content/image/icono.png" class="img-fluid" alt="">
                                </div>*@
                                <div class="col-md-3">
                                    <a href="">
                                        <img src="~/Content/image/logo_municipalidad.png" class="img-fluid" alt="Municipalidad">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-1 align-self-center">
                            <a href="#"><i class="blanco md-36 demo-icon icon-twitter-squared">&#xf304;</i></a>
                            <a href="#"><i class="blanco md-36 demo-icon icon-facebook-squared">&#xf308;</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            $("#menu-mobile").click(
                function () {
                    if ($("#menu-mobile-contenido").hasClass("hidden")) {
                        $("#menu-mobile-contenido").removeClass("hidden");
                    }
                    else {
                        $("#menu-mobile-contenido").addClass("hidden");
                    }
                }
            );
        });

    </script>
</body>
</html>
