@model IEnumerable<Core.Municipalidad>

@{
    ViewBag.Title = "ActivarMunicipio";
}

<h2>ActivarMunicipio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="tableMunicipios">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Activo
        </th>
        <th>
            Cementerio
        </th>
        <th>
            Información de personal
        </th>
        <th>
            Información de proveedores
        </th>
        <th>
            Información de subsidio
        </th>
        <th>
            Información de Corporaciones
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>            
            @item.Nombre
        </td>
        <td>
            @item.Descripcion
        </td>
        <td>            
            @if (item.Activa)
            {
                <input type="checkbox" onclick="MarcarMunicipio(@item.IdMunicipalidad)" checked />
            }
            else
            {
                <input type="checkbox" onclick="MarcarMunicipio(@item.IdMunicipalidad)"/>
            }
        </td>
        <td>
            @if (item.Cementerio)
            {
                <input type="checkbox" onclick="MarcarCementerio(@item.IdMunicipalidad)" checked />
            }
            else
            {
                <input type="checkbox" onclick="MarcarCementerio(@item.IdMunicipalidad)"/>
            }
            
        </td>
        <td>
            @if (item.Act_Personal)
            {
                <input type="checkbox" onclick="MarcarPersonal(@item.IdMunicipalidad)" checked />
            }
            else
            {
                <input type="checkbox" onclick="MarcarPersonal(@item.IdMunicipalidad)" />
            }

        </td>
        <td>
            @if (item.Act_Proveedor)
            {
                <input type="checkbox" onclick="MarcarProveedor(@item.IdMunicipalidad)" checked />
            }
            else
            {
                <input type="checkbox" onclick="MarcarProveedor(@item.IdMunicipalidad)" />
            }

        </td>
        <td>
            @if (item.Act_Subsidio)
            {
                <input type="checkbox" onclick="MarcarSubsidio(@item.IdMunicipalidad)" checked />
            }
            else
            {
                <input type="checkbox" onclick="MarcarSubsidio(@item.IdMunicipalidad)" />
            }

        </td>
        <td>
            @if (item.Act_Corporacion)
            {
                <input type="checkbox" onclick="MarcarCorporacion(@item.IdMunicipalidad)" checked />
            }
            else
            {
                <input type="checkbox" onclick="MarcarCorporacion(@item.IdMunicipalidad)" />
            }

        </td>
    </tr>
}

</table>


<script>
    function MarcarMunicipio(id) {
        $.ajax({
            url: '@Url.Action("ActivarMunicipio","Admin")',
            type: 'POST',
            data: {
                'idMunicipio': id
            },
            dataType: 'json',
            success: function (data) {
                //alert('Data: ' + data);
            },
            error: function (request, error) {
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }

    function MarcarCementerio(id) {
            $.ajax({
            url: '@Url.Action("ActivarCementerio", "Admin")',
            type: 'POST',
            data: {
                'idMunicipio': id
            },
            dataType: 'json',
            success: function (data) {
                //alert('Data: ' + data);
            },
            error: function (request, error) {
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function MarcarPersonal(id) {
            $.ajax({
            url: '@Url.Action("ActivarPersonal", "Admin")',
            type: 'POST',
            data: {
                'idMunicipio': id
            },
            dataType: 'json',
            success: function (data) {
                //alert('Data: ' + data);
            },
            error: function (request, error) {
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function MarcarProveedor(id) {
            $.ajax({
            url: '@Url.Action("ActivarProveedor", "Admin")',
            type: 'POST',
            data: {
                'idMunicipio': id
            },
            dataType: 'json',
            success: function (data) {
                //alert('Data: ' + data);
            },
            error: function (request, error) {
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function MarcarSubsidio(id) {
            $.ajax({
            url: '@Url.Action("ActivarSubsidio", "Admin")',
            type: 'POST',
            data: {
                'idMunicipio': id
            },
            dataType: 'json',
            success: function (data) {
                //alert('Data: ' + data);
            },
            error: function (request, error) {
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }
    function MarcarCorporacion(id) {
            $.ajax({
            url: '@Url.Action("ActivarCorporacion", "Admin")',
            type: 'POST',
            data: {
                'idMunicipio': id
            },
            dataType: 'json',
            success: function (data) {
                //alert('Data: ' + data);
            },
            error: function (request, error) {
                //alert("Request: " + JSON.stringify(request));
            }
        });
    }
</script>


